# Created by https://www.toptal.com/developers/gitignore/api/--credit
# Edit at https://www.toptal.com/developers/gitignore?templates=--credit

#!! ERROR: --credit is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/--credit
